* {
  box-sizing: inherit;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

:root {
  --background-color: #be6077;
  --text-color: #000;

}

html[data-theme='light'] {
  
  --background-color: #be6077;
  --text-color: #000;
}

html[data-theme='dark'] {
  --background-color: #000;
  --text-color: #be6077;
 
}


body {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;

  background: var(--background-color);
    color: var(--text-color);
}



header,
main,
footer {
  padding: 3rem 5vw;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  header,
  main,
  footer {
    max-width: 1080px;
  }
}
h1,
h3 {
  margin-bottom: 1rem;
}
ul {
  list-style-type: none;
}


.large-text {
  padding: 0.5rem 3rem;
  width: 100%;
  margin: auto auto;
}
.section {
  margin-bottom: 10rem;
}
.section--hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 5rem;
}

.section--hero .hero__about a {
  text-decoration: underline;
}
.section--hero .description {
  font-size: 2rem;
  margin: 3rem 0;
}
.section--hero .hero__image {
  max-width: fit-content;
}
.section--hero .hero__image img {
  width: 100%;
}

#contact > div {
  display: flex;
  flex-direction: column-reverse;
}
#contact > div > * {
  margin-right: 2rem;
}
#contact > div li {
  margin-bottom: 1rem;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  background: inherit;
  padding: 0.5rem 1rem;
  min-width: 10rem;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  border: 2px solid;
}
.btn-primary {
  border: 2px solid var(--text-color);
  font-size: .8em;
  color: var(--text-color);
  border-radius: 5px;
}
.btn-arrow:hover {
  border: none;
}
.btn-arrow:focus {
  border: none;
}
.btn-group {
  display: flex;
  align-items: center;
}
.btn-group > *:not(:first-child) {
  margin: 1rem;
}
.works {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.works > * {
  margin: 0 1.5rem;
}
.arrow i {
  text-align: center;
}
.dir-btn button {
  font-size: 2.5rem;
}
.not-available {
  display: none;
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
  #contact .set.address {
    font-size: 2rem;
  }
  #contact i {
    display: inline;
  }
  .works .dir-btn {
    align-self: flex-start;
    margin-top: 15%;
  }
}
